<?xml version="1.0" encoding="UTF-8"?>
<suite name="Test_Suite_Time">
    <test name="BicycleTest" preserve-order="true">
        <classes>
            <class name="com.company.BicycleTest">
                <methods>
                    <exclude name="testMoveToPoint()"/>
                    <exclude name="testTime()"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="BusTest" preserve-order="true">
        <classes>
            <class name="com.company.BusTest">
                <methods>
                    <exclude name="testMoveToPoint()"/>
                    <exclude name="testTime1()"/>
                    <exclude name="testCost1()"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="CarTest" preserve-order="true">
        <classes>
            <class name="com.company.CarTest">
                <methods>
                    <exclude name="testMoveToPoint()"/>
                    <exclude name="testTime1()"/>
                    <exclude name="testCost1() "/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="WalkTest" preserve-order="true">
        <classes>
            <class name="com.company.WalkTest">
                <methods>
                    <exclude name="testMoveToPoint()"/>
                    <exclude name="testTime1()"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>